<ion-card>
  <img src="https://avatars.githubusercontent.com/u/1?v=4" />

  <ion-card-header>
    <ion-card-title>Name</ion-card-title>
    <ion-card-subtitle>Location</ion-card-subtitle>
  </ion-card-header>

  <ion-item lines="none">
    <ion-label>
      Enterprise name
    </ion-label>
    <ion-note slot="end">2 repos</ion-note>
  </ion-item>

  <ion-card-content>
    <p><b>Bio</b></p>
    <p>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
    Wisconsin Territory in 1836.
    </p>
  </ion-card-content>

  <ion-button expand="full" color="secondary">
    <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
  </ion-button>
</ion-card>